[Unit]
Description=DupeMover Web Interface
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/wheatley/doupepl
ExecStart=/usr/bin/python3 /mnt/wheatley/doupepl/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
